.env
banned-ips.json
banned-players.json
bukkit.yml
commands.yml
eula.txt
help.yml
index.js
init.bat
ops.json
permissions.yml
run.bat
server.properties
spigot.yml
whitelist.json
usercache.json
/world
/world_nether
/world_the_end
/node_modules
/logs
/JSON
/hashBot
/plugins